<div class="container">
  <div>
    <h1>Login Form</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control col-md-4" id="username" required
        [(ngModel)]="model.username" name="username" #username="ngModel">
      </div>
      <div [hidden]="username.valid || username.pristine"
      class="alert alert-danger col-md-4">
      Username is required
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control col-md-4" id="password" required
        [(ngModel)]="model.password" name="password" #password="ngModel">
      </div>
      <div [hidden]="password.valid || password.pristine"
      class="alert alert-danger col-md-4">
      Password is required
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
    </form>
  </div>

</div>